<html>
<head>
    <script lang="javascript" src="./bower_components/jquery/dist/jquery.js"></script>
    <script lang="javascript" src="./bower_components/angular/angular.js"></script>
    <script lang="javascript" src="./bower_components/angular-aria/angular-aria.js"></script>
    <script lang="javascript" src="./bower_components/angular-animate/angular-animate.js"></script>
    <script lang="javascript" src="./bower_components/angular-material/angular-material.js"></script>
    <script lang="javascript" src="./bower_components/angular-messages/angular-messages.js"></script>
    <script lang="javascript" src="./bower_components/auth0.js/build/auth0.js"></script>
    <script lang="javascript" src="./bower_components/auth0-lock/build/auth0-lock.js"></script>
    <script lang="javascript" src="./bower_components/auth0-angular/build/auth0-angular.js"></script>
    <script lang="javascript" src="./bower_components/a0-angular-storage/dist/angular-storage.js"></script>
    <script lang="javascript" src="./bower_components/angular-jwt/dist/angular-jwt.js"></script>
    <script lang="javascript" src="./bower_components/angular-material-icons/angular-material-icons.js"></script>

    <script lang="javascript" src="baguUtils.js"></script>
    <script lang="javascript" src="exp.js"></script>

    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
</head>
<body ng-app="expApp" ng-controller="expCtl as exp">
<!--
<input ng-model="exp.user.user_metadata.fullName" placeholder="fullName"><br/>
<input ng-model="exp.user.email" placeholder="email"><br/>
<input ng-model="exp.user.password" placeholder="password"><br/>
<md-button type="button" class="md-raised md-primary" ng-click="exp.save()">Save</md-button>
<bagu-tollbar title="Member" side-menu-name="left" logout-path="/login"></bagu-tollbar>
<div flex id="login-container"></div>
<md-button type="button" class="md-raised md-primary" ng-click="exp.get()">get</md-button>
-->
DODOL
</body>
</html>
